name: Generate Snake

on:
  # Uruchom automatycznie co 24 godziny o północy
  schedule:
    - cron: "0 0 * * *" 
  
  # Pozwól na ręczne uruchomienie w każdej chwili
  workflow_dispatch:
  
  # Uruchom przy każdym pushu do master/main
  push:
    branches:
    - master
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # Generuje węża z twoich commitów
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      # Wysyła wygenerowane pliki na oddzielną gałąź "output"
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/gh-action-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
